.download-box {
	position: relative;
	display: inline-block;
	cursor: pointer;
	color: #eee;
}

.download-button {
	display: flex;
	align-items: center;
	background: transparent;
	border-radius: 8px;
	padding: 7px 6px 6px;
	border: 0;
	margin-bottom: 5px;
}

.download-button:hover, .download-item:hover {
	background-color: #444;
}

.download-list {
	background-color: #2e2e2e;
	position: absolute;
	z-index: 9999;
	padding: 5px;
	border-radius: 10px;
	box-shadow: 0 2px 10px 0 rgba(0,0,0,.15);
	overflow: visible;
}

.download-item {
	display: block;
	background: transparent;
	border-radius: 8px;
	padding: 7px 6px 6px;
	border: 0;
}

.arrow {
	margin-left: 5px;
}
